@font-face {
    font-family: 'Iosevka';
    src: url(assets/fonts/Iosevka/Iosevka-Medium.ttf);
}

@font-face {
    font-family: 'Literata';
    src: url(assets/fonts/Literata/Literata-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: 'Marcellus';
    src: url(assets/fonts/Marcellus/Marcellus-Regular.ttf);
}

/*BASE STYLES*/

* {
    --font-code: 'Iosevka', sans-serif;
    --font-body: 'Literata', sans-serif;
    --font-heading: 'Marcellus', sans-serif;

    --background: rgb(28, 25, 23);
    --surface: #2E2926;

    --primary: #264236;
    --secondary: #3A120F;
    --accent: #B7954A;

    --text--primary:#E6DED0;
    --text-secondary:#B8AEA0;

    box-sizing: border-box;
}

/* MOBILE-FIRST STYLES*/

body {
    background: var(--background);
    color: var(--text--primary);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

/*NAVIGATION STYLES*/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 4vh 6vw;
}

nav > h2 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.nav-toggle-checkbox {
    display: none;
}

.nav-toggle-label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.125rem;
    padding: 0.625rem;
    margin: -0.625rem;
    z-index: 1;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--text--primary);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-toggle-checkbox:checked ~ .nav-toggle-label:before {
    transform: translateY(0.5rem) rotate(45deg);
}

.nav-toggle-checkbox:checked ~ .nav-toggle-label span {
    opacity: 0;
}

.nav-toggle-checkbox:checked ~ .nav-toggle-label:after {
    transform: translateY(-0.5rem) rotate(-45deg);
}

#navGroup {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    width: 100%;
    order: 3;
    padding-top: 3vh;
}

.nav-toggle-checkbox:checked ~ #navGroup {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--text--secondary);
    transition: color 0.3s ease;
    font-family: var(--font-body);
    font-size: 0.9em;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

/*HERO STYLES*/

#hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100svh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 6vw;
}

#hero > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: -1;
    object-fit: cover;
    filter: brightness(0.4) contrast(1.2);
    box-shadow: inset 0 40px rgba(28, 25, 23, 0.8);
    mask-image: linear-gradient(to bottom, rgba(28, 25, 23, 1) 0%, 
                                           rgba(28, 25, 23, 1) 50%,
                                           rgba(28, 25, 23, 0) 100%),
                linear-gradient(to top, rgba(28, 25, 23, 1) 0%, 
                                           rgba(28, 25, 23, 1) 50%,
                                           rgba(28, 25, 23, 0) 100%);
    mask-composite: intersect;
}

#subtitle {
    font-family: var(--font-body);
    font-size: .75em;
    color: var(--text--secondary);
    margin-top: .2vh;
    height: auto;
    width: 100%;
    gap: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote {
    font-family: var(--font-body);
    font-size: .85em;
    color: var(--text--secondary);
    font-weight: 700;
    margin-top: 1vh;
    margin-bottom: 4vh;
    max-width: 88vw;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h3 {
    font-family: var(--font-heading);
    font-size: 1em;
    color: var(--accent);
    margin-top: .5em;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

line {
    stroke: var(--secondary);
    stroke-width: 2;
    stroke-linecap: round;
    filter:brightness(2);
}

.separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary);
    filter: brightness(1.5) drop-shadow(0 0 4px #000000);
    stroke-linecap: round;
    gap: .5vw;
    font-size: 1.5em;
    width: 60%;
    height: auto;
    padding: 2vh 0;
    margin: 6vh auto;
}

.separator svg {
    height: 8px;
    width: 60%;
    flex: 1;
}

#down-arrow {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 1em;
    flex: none;
    color: var(--accent);
}

#down-arrow:hover {
    animation: bounce 1.5s 2;
    filter: drop-shadow(0 0 5px var(--accent));
}

#left-navigation, #right-navigation {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: .5rem;
    flex: none;
    filter: brightness(125%);
    cursor: pointer;
}

#left-navigation:hover, #right-navigation:hover {
    filter: drop-shadow(0 0 5px var(--accent));
}

#left-navigation {
    rotate: 90deg;
    margin-left: 1rem;
    margin-right: .5rem;
}

#right-navigation {
    rotate: -90deg;
    margin-right: 1rem;
    margin-left: .5rem;
}

/*SECTION STYLES*/

#about, #work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 92%;
    gap: 2rem;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 60%;
    gap: 2rem;
    margin-bottom: 10vh;
    padding-bottom: 10vh;
    margin-top: 6vh;
    padding-top: 6vh;
}

#contact > p {
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--text--secondary);
    text-align: center;
    width: 60%;
    height: auto;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    text-align: center;
    gap: 1rem;
}

.contactInfo > svg {
    align-self: center;
}

.contactMethods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
}

.contactMethods > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    width: 100%;
    height: auto;
    background-color: var(--surface);
    color: var(--text-secondary);
    border-radius: 1rem;
}

.contactMethods > a:hover {
    filter: brightness(1.2) drop-shadow(0 0 5px var(--accent));
}

.leftColumn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 1rem 0;
}

.rightColumn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
}

#profile-picture {
    width: 100%;
    height: auto;
    max-width: 284px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1.5rem;
}

#stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: .5rem 0;
    padding: .5rem 0;
    width: 100%;
}

#stats > div, #studies > div {
    margin: 0;
    padding: 1rem;
    background-color: var(--surface);
    color: var(--text-secondary);
    text-align: center;
    border-radius: 1rem;
    height: fit-content;
    min-height: 4.5rem;
    width: calc(50% - 0.5rem);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stats > div > h3, #stats > div > p, #studies > div > ul {
    margin: 0;
}

#stats > div > h3, #studies > div > h3 {
    font-size: 1.5em;
}

#stats > div > p, #studies > div > p {
    padding: .2rem;
    font-size: .75em;
}

#studies > p {
    font-size: .75em;
}

/*CAROUSEL STYLES*/

.carouselItem {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#carouselNavigation {
    color: var(--text-secondary);
    background: var(--surface);
    width: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1em;
    margin-top: 2vh;
    padding-bottom: 1vh;
    gap: .5rem;
}

#carouselNavigation > #text {
    margin-top: .4rem;
    color: var(--primary);
    filter: brightness(125%);
}

#carouselNavigation > #text > span:hover {
    filter: brightness(125%) drop-shadow(0 0 5px var(--accent));
    cursor: pointer;
}

#carouselDescription {
    width: 100%;
    max-width: 400px;
    height: 6rem;
    margin-top: 4vh;
}

/*TITLE STYLES*/

#title, .sectionTitle {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 10vw, 4rem);
    margin-top: .1em;
    margin-bottom: 0;
    color: var(--text-primary);
    width: 100%;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.sectionTitle {
    font-size: clamp(1.75rem, 8vw, 3rem);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: .8em;
    text-overflow: clip;
    height: auto;
}

.title > h3 {
    color: var(--text-primary);
    margin: 0;
}

/*STUDIES GRID STYLES*/

#studies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
}

#studies > div {
    width: 100%;
    height: fit-content;
    max-height: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding-left: 0.5rem;
    padding-right: .5rem;
}

#studies > div > div > p {
    min-width: 3em;
    max-width: none;
    margin: 0;
}

#studies > div > ul {
    font-size: .7em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: start;
    gap: 0.5rem;
    width: 100%;
    text-overflow: clip;
    padding-left: inherit;
    flex-wrap: wrap;
}

li {
    background-color: var(--primary);
    border: 1px solid var(--border-primary);
    padding: .5rem;
    border-radius: 4px;
}

.skills-list {
    overflow:scroll;
    padding-top: .5rem;
}

#legend {
    font-size: .75em;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#legend > h3 {
    filter: brightness(125%);
}

#legend > ul {
    margin-top: 0;
    margin-bottom: 0;
}

#legend > ul > li {
        background: none;
        border: none;
}

#legend > ul > li > svg {
    color: var(--primary);
}

#legend > ul > li:nth-child(2) {
    color: var(--text--primary);
    opacity: .7;
}

.used-skill {
    color: var(--primary);
}

.unused-skill {
    color: var(--primary);
    filter: brightness(70%);
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    filter: invert(67%) sepia(10%) saturate(1936%) hue-rotate(3deg) brightness(88%) contrast(88%);
}

#carouselDescription > a:hover > .logo {
    filter: invert(67%) sepia(10%) saturate(1936%) hue-rotate(3deg) brightness(88%) contrast(88%) drop-shadow(0 0 5px var(--accent));
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(6px);}
}

/*640PX AND UP STYLES*/
@media (min-width: 640px) {
    #stats > div, #studies > div {
        width: calc(33.33% - 0.3rem);
    }

    #studies > div {
        width: calc(50% - 0.3rem);
    }
}

/* 768PX AND UP STYLES*/
@media (min-width: 768px) {
    nav {
        flex-wrap: nowrap;
        padding: 4vh 8vw;
    }

    nav > h2 {
        margin-left: 0;
    }

    .nav-toggle-label {
        display: none;
    }

    #navGroup {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        gap: 2vw;
        width: auto;
        order: initial;
        padding-top: 0;
    }

    #hero {
        padding: 0 8vw;
    }

    .separator {
        width: 20%;
        font-size: 2em;
    }

    blockquote {
        max-width: 64vw;
        font-size: 1em;
    }

    #subtitle {
        flex-direction: row;
    }

    #about, #work {
        flex-direction: row;
        align-items: center;
        width: 96%;
        gap: 1vw;
    }

    .leftColumn {
        width: 60%
    }

    .rightColumn {
        width: 40%
    }

    .leftColumn, .rightColumn {
        margin: 1vw;
        padding: 1vw;
    }

    #stats > div {
        width: calc(50% - .3rem);
    }

    #studies > div {
        width: calc(50% - .3rem);
    }

    #title, .sectionTitle {
        width: 96%;
    }
}

/*1024 PX AND UP STYLES*/
@media (min-width: 1024px) {
    nav > h2 {
        margin-left: 8vw;
    }

    #navGroup {
        margin-right: 8vw;
    }

    #nav-toggle, .nav-icon {
        display: none;
    }

    .leftColumn {
        width: 60%
    }

    .rightColumn {
        width: 40%
    }

    .leftColumn, .rightColumn {
        margin: 1vw;
        padding: 1vw;
    }

    #about, #work {
        width: 96%;
    }

    #stats {
        width: 96%;
    }

    #stats > div {
        width: 16vw;
    }

    #stats:nth-child(2), #studies > div > h3 {
        flex-basis: 100%;
    }

    #studies > div {
        width: 45%;
        height: fit-content;
        max-height: 20vh;
    }

    #studies > div > div > p {
        min-width: 3vw;
        max-width: 3.5vw;
    }

    #title, .sectionTitle {
        width: 40%;
    }

    .sectionTitle {
        width: 100%;
    }
}