@font-face {
    font-family: 'Geologica';
    src: url(assets\fonts\Geologica\Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf);
}

* {
    font-family: 'Geologica', sans-serif;
}

#qrcode {
    max-width: 100px;
    max-height: 100px;
}

body {
/* https://grabient.com/HQBg7AjANMEgnDcA2JAOALDCEBM6BmKCYXAVhBnjHxL2mDHi2AwLJnbKA?angle=270 */

    background: linear-gradient(270deg, #180206 0.000%,
                                        #270200 14.286%, 
                                        #1f150a 28.571%, 
                                        #082d1e 42.857%, 
                                        #003829 57.143%, 
                                        #0a2f1f 71.429%, 
                                        #20190b 85.714%, 
                                        #270400 100.000%);
    /*color: rgba(49,8,31);*/
    color: #DCEED1;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

div {
    width: 100%;
}

p {
    background: rgba(220, 224, 217, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 18px;
    margin: 10px;
    line-height: 1.6;
    max-height: 600px;
    max-width: 600px;
}

li {
    font-size: 18px;
}

h1 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-weight:bold;
    text-decoration: underline;
}

.headerTitle {
    text-align: center;
    width: 20%;
    margin: 0;
    color: #Fecc37;
    padding: 0px 16px;
    letter-spacing: 4px;
    text-underline-offset: 4px;
    text-shadow: -1px -1px 0 #fda531, 
                  1px -1px 0 #fda531, 
                 -1px 1px 0 #fda531, 
                  1px 1px 0 #fda531;
}

blockquote {
    font-size: 44px;
    font-weight: bold;
}
.quoteRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quoteRow > h1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: oblique;
}

.catchQuote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#navGroup {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin: 0;
    width: 24%;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #270200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 99%;
    border-bottom: #DCEED1;
    border-width:1px;
    border-right: none;
    border-left: none;
    border-style:solid;
    z-index: 1;
       box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
}

input {
    background: radial-gradient(ellipse farthest-corner at right bottom, #fecc37 0%, 
                                                                         #fda531 8%, 
                                                                         #9f7528 30%, 
                                                                         #8a642f 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, 
                                                                     #ffeaac 8%, 
                                                                     #d1a764 25%, 
                                                                     #5d431f 62.5%, 
                                                                     #5d501f 100%);
    background-size: 200% auto;
    margin: 0px 4px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    color: white;
    display: block;
    outline: none;
    border: none;
    box-shadow: 0 0 5px #9c8c8c;
    font-weight: 700;
    cursor: pointer;
}

input:hover {
    background-position: right center;
}

#businessCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

blockquote {
    max-width: 500px;
}

.caption {
    font-style: italic;
    padding-bottom: 40px;
    padding-right: 120px;
    align-self: flex-end;
    font-weight: 500;
    text-decoration: none;
}

#meepleLogo {
    max-width: 100px;
    max-height: 100px;
}

li {
    max-width: 400px;
    margin: 8px;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

td {
    padding: 24px;
    font-size: 24px;
    text-align: center;
}   

form:last-child {
    margin-right: 16px;
}

.jobRow, .hobbyRow, .jobSummary, .quoteRow, .introductionRow {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jobRow:nth-child(odd) > .jobImage, 
.hobbyRow:nth-child(odd) > .hobbyImage,
.jobRow:nth-child(even) > .jobDescription,
.hobbyRow:nth-child(even) > .hobbyDescription, 
.quoteRow > .catchQuote, 
.introductionRow > .profileImage {
    border-width: 1px 1px 1px 0;
}

.jobRow:nth-child(odd) > .jobImage, 
.hobbyRow:nth-child(odd) > .hobbyImage,
.jobRow:nth-child(even) > .jobDescription,
.hobbyRow:nth-child(even) > .hobbyDescription, 
.quoteRow > h1,
.introductionRow > .introduction  {
    border-width: 1px 0 1px 1px;
}

.jobDescription, .hobbyDescription, .jobSkills, .introduction, .quoteRow > h1 {
    width: 50%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-style: inset;
    border-color: #DCEED1;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobImage, .hobbyImage, .technicalProfile, .profileImage, .catchQuote {
    width: 50%;
    opacity: 80%;
    flex: 1 1 30%;
    max-width: 1000px;
    max-height: 1000px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-size: cover;        /* Stretches the image to fill the screen */
    background-attachment: fixed;  /* Keeps background static during scroll */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-style: inset;
    border-color: #DCEED1;
}

.profileImage {
    width: 50%;
    flex: 1 1 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-size: cover;        /* Stretches the image to fill the screen */
    background-attachment: fixed;  /* Keeps background static during scroll */
    min-width: 500px;
    min-height: 500px;
    max-width: 1000px;
    max-height: 1000px;
}


.technicalProfile {
    justify-content: center;
    align-items: center;
}

.companies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 36px 0;
}

.companies > img {
    max-width: 100px;
    max-height: 100px;
}

